<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="daycare.demo.daycare.dao.MainMapper">

    <insert id="signupInsertRow"
            parameterType ="userRequestDTO">
        insert into USER(ID, PASSWORD, NAME, EMAIL, PHONE)
        values(#{id}, #{pwd}, #{name}, #{email}, #{phone})
    </insert>

    <select id="idCheckSelectRow" 
            parameterType="map" 
            resultType="Integer">
        SELECT COUNT(*)
        FROM USER
        WHERE ID = #{id}
    </select>

    <select id="loginSelectRow" 
            parameterType="map" 
            resultType="Integer">
        SELECT COUNT(*)
        FROM USER
        WHERE ID = #{id} AND PASSWORD = #{pwd}
    </select>

    <select id="userSelectRow" 
            parameterType="String" 
            resultType="userResponseDTO">
        SELECT 
        UID as uid,
        ID as id,
        NAME as name,
        EMAIL as email,
        PHONE as phone
        FROM USER
        WHERE ID = #{id}
    </select>

    <insert id="reviewInsertRow"
            parameterType ="reviewRequestDTO">
        insert into DAYCARE_REVIEW(DAYCARE_ID, RATING, DATE, CONTENT, UID)
        values(#{daycareId}, #{rating}, #{date}, #{content}, #{uid})
    </insert>

    <select id="reviewSelectRow" 
            parameterType="String" 
            resultType="reviewResponseDTO">
        SELECT 
        REVIEW_ID, RATING, DATE, CONTENT, UID
        FROM DAYCARE_REVIEW
        WHERE DAYCARE_ID = #{daycareId}
    </select>


</mapper>