<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>

        <typeAlias  alias="userRequestDTO" type="daycare.demo.daycare.domain.UserRequestDTO"/>
        <typeAlias  alias="userResponseDTO" type="daycare.demo.daycare.domain.UserResponseDTO"/>
        <typeAlias  alias="reviewRequestDTO" type="daycare.demo.daycare.domain.ReviewRequestDTO"/>
        <typeAlias  alias="reviewResponseDTO" type="daycare.demo.daycare.domain.ReviewResponseDTO"/>
    </typeAliases>
</configuration>